.header {
  padding: 5px;
  text-align: center;
  background: pink;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("images/bg.png");
    background-repeat: repeat-y;
  }
  
  h1 {
    color: PaleVioletRed;
    font-family: "Lucida Console";
  }
  
  h2 {
    margin-top: 20px;
    font-family: "Lucida Console";
    color: PaleVioletRed;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    
  }
  
  .image-wrapper {
    position: relative;
  }
  
  .image-wrapper img {
    display: block;
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .image-wrapper img:first-child {
    top: 70px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 400px;
  }

  .image-wrapper img + img {
    position: relative;
    top: auto;
    left: auto;
    width: 400px;
    margin: 20px auto 0;
  }
  .footer {
    padding: 10px;
    text-align: center;
    background: pink;
  }
  