  .header {
    padding: 5px;
    text-align: center;
    background: pink;
  }
  body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url("images/bg.png");
    background-repeat: repeat-y;
  }
  .category-text{
    color: pink;
    background-color: PaleVioletRed; 
    padding: 5px; 
    display: inline-block;
  }
  h1 {
    color: PaleVioletRed;
    font-family: "Lucida Console";
  }
  
  h2 {
    color: PaleVioletRed;
    margin-top: 20px;
    font-family: "Lucida Console";
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
  }
  
  .column {
    flex: 50%;
    padding: 10px;
  }
  
  .column img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 20px;
    max-width: 400px;
    width: 650px;
    padding: 5px;
    border: 8px solid #B8860B;
    background-color: #FFEBCD;
  }
  .footer {
    padding: 10px;
    text-align: center;
    background: pink;
  }
  